.DS_Store
node_modules
/dist
/dist.zip
/deploy.config.js


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
src/components/lost/Tree base.vue
src/components/lost/Tree copy.vue
src/components/lost/Tree v2.vue
src/components/lost/Tree2.vue
src/components/Tree copy.vue
src/components/Tree copy.vue
src/components/Tree copy2.vue
